* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar {
    position: absolute;
    width: 250px;
    border: 1px solid;
    border-right: 0;
    border-top-left-radius: 5px;
    border-radius: 5px 0 0 5px;
    right: 0;
    padding: 10px 50px 10px 20px;

    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.3s;
}

ul {
    list-style: none;
}

.sub-links li {
    padding: 10px 15px;
    transition: 0.2s;
    border-radius: 5px;
    user-select: none;
}

.sub-links li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.174);
}

#sidebar.open {
    animation: slideIn 0.3s ease-in-out forwards;
    opacity: 1;
}

#sidebar.close {
    animation: slideOut 0.3s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        right: -200%;
    }
    100% {
        right: 0;
        visibility: visible;
        display: none;
    }
}

@keyframes slideOut {
    0% {
        right: 0;
    }
    100% {
        right: -200%;
        display: flex;
        visibility: hidden;
    }
}

.sub-links {
    overflow: hidden;
    transition: 0.3s;
}

.nav-title {
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s;

    display: flex;
}

.nav-title:hover {
    background-color: rgba(0, 0, 0, 0.174);
}
